@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="alert alert-warning">

        </div>
    </div>
</div>

@section scripts{

    <script>

        $(document).ready(function () {

            $.getJSON("@Url.Action("_index", "Home")", function (data) {
                console.log("You will never get your success in here!... HAH!!!")
            }).fail(function (jqxhr, textStatus, error) {
                if (jqxhr !== undefined) {
                    if (jqxhr.hasOwnProperty('responseJSON')) {
                        if (jqxhr['responseJSON'].hasOwnProperty('applicationError')) {
                            console.log(jqxhr['responseJSON']['applicationError']);
                            $(".row").find(".alert-warning").append('<strong>' + jqxhr['status'] + '!</strong>' + ' ' + jqxhr['responseJSON']['applicationError']['logMessage']);
                        }
                    }
                }
            })

        });

    </script>

}